<mat-form-field id="titleForm" class="specific-group">
    <mat-label>Name of this task group</mat-label>
    <input matInput type="text" [formControl]="taskGroupNameFormControl" 
    [errorStateMatcher]="matcher" [(ngModel)]="name">
     
    <button mat-button color="warn" *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      <mat-icon>close</mat-icon>
    </button>
    <button mat-button color="primary" *ngIf="name" matSuffix mat-icon-button aria-label="Save" (click)='changeTaskGroupsName(name)'>
        <mat-icon>save</mat-icon>
    </button>

    <mat-hint>Click save button on the right side to change the group's title, otherwise, it will be left as is.</mat-hint>
    <mat-error *ngIf="taskGroupNameFormControl.hasError('required')">
        TaskGroup's title is <strong>required</strong>
    </mat-error>
  </mat-form-field>
<table>
    <thead>
        <th>User Tasks list</th>
        <th>Specific User Task</th>
    </thead>
    <tr>
        <td>
            <mat-nav-list>
                <tr *ngFor="let tile of tiles">
                    <td><a mat-list-item href="">{{ tile.text }}</a></td>
                    <td>
                        <a mat-icon-button color="accent" href="">
                            <mat-icon>border_color</mat-icon>
                        </a>
                    </td>
                    <td>
                        <a mat-icon-button color="warn" (click)="ngOnInit()">
                            <mat-icon>delete_forever</mat-icon>
                        </a>
                    </td>
            </mat-nav-list>
        </td>
        <td>
            <mat-nav-list>
                <tr>And here I'll place an Angular reactive form</tr>
            </mat-nav-list>
        </td>
    </tr>
</table>


