<mat-form-field class="specific-group" style="width: 100%; text-align: center;">
    <mat-label>Name of this task group</mat-label>
    <input matInput type="text" [(ngModel)]="name">
    <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
<table>
    <thead>
        <th>User Tasks list</th>
        <th>Specific User Task</th>
    </thead>
<mat-nav-list>
    <tr *ngFor="let tile of tiles">
        <td><a mat-list-item href="">{{ tile.text }}</a></td>
        <td>
            <a mat-icon-button color="accent" href="">
                <mat-icon>border_color</mat-icon>
            </a>
        </td>
        <td>
            <a mat-icon-button color="warn" (click)="ngOnInit()">
                <mat-icon>delete_forever</mat-icon>
            </a>
        </td>
    </tr>
  </mat-nav-list>
</table>


