<h4>Task Group's Name:</h4>
<input type="text" value="{{name}}">
<table>
    <thead>
        <th>User Tasks list</th>
        <th>Specific User Task</th>
    </thead>
<mat-nav-list>
    <tr *ngFor="let tile of tiles">
        <td><a mat-list-item href="">{{ tile.text }}</a></td>
        <td>
            <a mat-icon-button color="accent" href="">
                <mat-icon>border_color</mat-icon>
            </a>
        </td>
        <td>
            <a mat-icon-button color="warn" (click)="ngOnInit()">
                <mat-icon>delete_forever</mat-icon>
            </a>
        </td>
    </tr>
  </mat-nav-list>
</table>


